@keyframes gradientChange {
    0% {
        background-position: 0% 50%; /* Начальная позиция */
    }
    50% {
        background-position: 100% 50%; /* Середина анимации */
    }
    100% {
        background-position: 0% 50%; /* Конечная позиция */
    }
}

.catalog {
    &__container {
        margin-bottom: 64px;
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 40px;
        grid-row-gap: 24px;
        margin-top: 24px;
        margin-bottom: 64px;
    }

    &__sidebar {
        &-header {
            color: #000;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400 !important;
            margin-top: 0;
            margin-bottom: 24px;
            padding: 36px 30px;
        }

        &-loader {
            display: block;
            margin: 0 auto;
        }
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 24px;
        grid-column-gap: 40px;
        grid-auto-rows: min-content;
    }

    &__query {
        &-title {
            color: rgba(0, 0, 0, 0.50) !important; 
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 500 !important;
        }
    }

    &__banner {
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 25px;
            padding: 20px 21px 21px 30px;
            background: linear-gradient(90deg, #32DBDB 0%, #49B3FF 100%);
            background-size: 200% 200%;
            animation: gradientChange 2s ease infinite;
        }

        &-title {
            color: #FFF;
            font-family: Onest;
            font-size: 20px;
            font-weight: 500 !important;
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 31px 33px;
        }
    }

    &__discount-input::placeholder {
        color: #000;
    }

    &__filters {
        &-items {
            display: flex;
            gap: 21px;
        }

        &-opener {
            display: flex;
            align-items: center;
            height: 36px;
            gap: 10px;
            padding: 0 27px;
            border-radius: 100px;
            margin-top: 21px;
            font-family: Onest;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            transition: .4s;

            &_active {
                background-color: #2667FF;
                color: #fff;

                svg {
                    transform: rotate(180deg);
                    path {
                        stroke: white;
                    }
                }
            }

            svg {
                width: 24px;
            }
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Onest;
        color: rgba(0, 0, 0, 0.80);
        font-size: 16px;
        font-weight: 400;

        &-value {
            display: flex;
            justify-content: center;
            gap: 10px;
            border-radius: 100%;
            background: #fff;
            color: #000;
            font-size: 14px;
            padding: 6px 0;
            border: none;
            width: 140px;
            text-align: center;

            &:hover {
                cursor: pointer;
            }

            &_active {
                background-color: #2667FF;
                color: #fff;

                svg {
                    transform: rotate(180deg);
                    fill: white;
                }
            }
        }
    }
}

@media screen and (max-width: 1727px) {
    .catalog {
        &__products {
            grid-column-gap: 24px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .catalog {
        &__main {
            display: flex;
            flex-direction: column;
            margin-top: 14px;
        }

        &__banner {
            box-shadow: none !important;

            &-footer {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding: 25px 20px 0;
            }

            .discount {
                &-value {
                    padding: 11px;
                    font-size: 14px;
                }
            }
        
        }

        &__filters {
            margin-top: 32px;

            &-items {
                flex-wrap: wrap;
                padding: 20px !important;
                margin: -20px !important;
                max-height: 220px;
                transition: .7s;
                overflow: hidden;


                &_closed {
                    max-height: 0;
                    padding: 0 20px !important;
                }
            }
        }

        &__section {
            margin-bottom: 0;
            margin-top: 0;

            &-header {
                max-height: 70px;
                box-sizing: border-box;
            }
        }

        &__products {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            margin-top: 30px;
            padding: 0 30px;
        }

        &__sidebar {
            padding: 0 30px;

            &-items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 25px;
                grid-row-gap: 45px;
            }

            &-header {
                width: 100%;
                box-shadow: none !important;
                padding: 0;
            }
        }

        &__filter {
            font-size: 14px;

            &-value {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 1727px) {
    .catalog {
        &__query {
            &-title {
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 765px) {
    .catalog {
        &__section {
            max-width: 290px;

            &-header {
                padding: 15px;
            }

            &-name {
                font-size: 12px !important;
            }
        }

        &__banner {
            &-top {
                align-items: start;
                flex-direction: column;
            }

            &-title {
                margin-bottom: 12px !important;
            }

            .discount-value {
                padding: 11px 19px;
                margin-left: 8px;
            }
        }
    }
}

@media screen and (max-width: 675px) {
    .catalog {
        &__section {
            max-width: 290px;
            width: 100%;

            &-header {
                padding: 15px;
            }

            &-name {
                font-size: 12px !important;
            }

            &-icon {
                max-width: 25px;
            }
        }

        &__filter {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 665px) {
    .catalog {
        &__sidebar {
            &-items {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &-header {
                text-align: center;
            }
        }

        &__section {
            width: 270px;
        }
    }
}

@media screen and (max-width: 480px) {
    .catalog {
        &__filter {
            display: flex;
            flex-direction: column;
        }

        &__discount {
            &-input {
                width: 200px !important;
            }
        }

        &__section {
            width: 230px;
        }

        &__products {
            justify-content: center;
        }
    }
}