.review {
    position: relative;
    padding: 33px 37px 40px;
    width: 580px;
    height: 400px;
    box-sizing: border-box;

    &_moderated {
        width: 520px !important;

        .review {
            &__header {
                align-items: self-start;
            }

            &__name {
                line-height: 2.5;
            }

            &__images {
                margin-top: -40px;
            }
        }
    }
    
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__photo {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    &__name {
        color: #000;
        font-family: Onest;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        margin-left: 14px;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        max-width: 200px;
        text-overflow: ellipsis;
    }

    &__product {
        margin-left: auto;
        background: #FF2727;
        padding: 4px 19px;
        border-radius: 100px;
        color: #FFF;
        font-family: Onest;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        white-space: nowrap;
    }

    &__helper {
        position: absolute;
        top: 96px;
        right: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: #D9D9D9;

        &:hover {
            cursor: pointer;
            background-color: #c2c0c0;
        }

        &-icon {
            width: 24px;
        }
    }

    &__descision {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        margin-left: auto;

        &-btn {
            width: max-content;
        }
    }

    &__images {
        display: flex;
        gap: 15px;
        margin-bottom: 19px;
    }

    &__img {
        width: 75px;
        height: 75px;
        border-radius: 15px;

        &:hover {
            cursor: pointer;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__text {
        word-wrap: break-word;
        overflow: hidden;
        max-height: 180px;

        &:focus {
            outline: none;
        }

        &_full {
            min-height: 100px;
        }
    }

    &__text[content-editable=true] {
        text-decoration: underline;
    } 

    &__footer {
        position: absolute;
        bottom: 40px;
        display: flex;
        width: 85%;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    &__date {
        color: rgba(0, 0, 0, 0.50);
        font-family: Onest;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
    }

    &__edit {
        font-size: 14px;
        background-color: #000 !important;
    }
}

@media screen and (max-width: 1727px) {
    .review {
        width: 520px;
        height: 350px;
    }
}

@media screen and (max-width: 1280px) {
    .review {
        position: initial;

        &__footer {
            width: 100%;
            position: initial;
        }
    }
}

@media screen  and (max-width: 980px){
    .review {
        &__photo {
            width: 60px;
            height: 60px;
        }

        &__product {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 756px) {
    .review {
        width: 370px;
        padding: 33px 30px 40px;
        
        &__product {
            font-size: 14px;
        }

        &__name {
            font-size: 20px;
        }

        &__photo {
            width: 45px;
            height: 45px;
        }

        &__star {
            width: 25px;
        }

        &__date {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 576px) {
    .review {
        width: 320px;
        height: 300px;
        
        &__name {
            font-size: 14px;
        }

        &__product {
            margin-left: auto;
        }

        &__helper {
            width: 40px;
            height: 40px;
            top: 0;
            right: 2px;
        }
    }
}

@media screen and (max-width: 480px) {
    .review {
        width: 250px;
        height: 260px;
        padding: 20px;

        &_moderated {
            width: auto;

            .review {
                &__header {
                    flex-direction: row;
                }
            }
        }

        &__name {
            font-size: 12px;
        }

        &__photo {
            width: 30px;
            height: 30px;
        }

        &__product {
            font-size: 10px;
        }

        &__img {
            width: 50px;
            height: 50px;
        }

        &__date {
            font-size: 14px;
        }

        &__star {
            width: 20px;
        }

        &__helper {
            right: 4px;
            top: 65px;
        }
    }
}