@keyframes borderPulse {
    from {
        width: 100px;
        height: 100px;
        opacity: 1;
    }

    to {
        width: 160px;
        height: 160px;
        opacity: 0;
    }
}

@keyframes openerPulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.chat {
    position: absolute;
    right: -2px;
    bottom: -1px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    z-index: 100;

    &__header {
        display: flex;
        align-items: center;
        padding: 20px 30px;
        box-sizing: border-box;
        height: 68px;
        border-bottom: 1px solid #cccccc;
    }

    &__title {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }

    &__hamburger {
        &:hover {
            cursor: pointer;
        }
    }

    &__closer {
        margin-left: auto;

        &:hover {
            cursor: pointer;
        }
    }

    &__body {
        padding: 20px 15px;
        height: 360px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 9px;
        }
    }

    &__message {
        max-width: 250px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px;

        &:last-child {
            margin-bottom: 20px;
        }

        &-text {
            padding: 15px;
            border-radius: 20px 20px 20px 0px;
            background-color: #E8F4FF;
            margin: 0 0 4px;
        }

        &-time {
            color: #cccccc;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
        }

        &_mine {
            margin-left: auto;

            .chat__message-text {
                color: #fff;
                border-radius: 20px 20px 0px 20px;
                background-color: #2667FF !important;
            }

            .chat__message-time {
                display: block;
                text-align: right;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 25px;
        box-sizing: border-box;
        height: 62px;
        border-top: 1px solid #cccccc;
        border-radius: 4px;
    }

    &__input {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #cccccc;
        line-height: 44px;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__sender {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: #E8F4FF;

        &:hover {
            cursor: pointer;
        }
    }

    &-wrapper {
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 20;
    
    }

    &-opener {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 100px;
        box-shadow: 0 0 1px 1px #000;
        transition: 1s;

        svg {
            fill: #000;
        }

        &:hover {
            background-color: #2667FF;
            border: none;
            box-shadow: none;
            cursor: pointer;
            animation: openerPulse 1s ease infinite;

            svg {
                fill: #fff;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                background: none;
                border: 3px solid #2667FF;
                border-radius: 100px;
                animation: borderPulse 1s ease infinite;
            }
        }
    }
}