@keyframes borderPulse {
    from {
        width: 100px;
        height: 100px;
        opacity: 1;
    }

    to {
        width: 160px;
        height: 160px;
        opacity: 0;
    }
}

@keyframes openerPulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.chat {
    &-wrapper {
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 20;
    
    }

    &-opener {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 100px;
        box-shadow: 0 0 1px 1px #000;
        transition: 1s;

        svg {
            fill: #000;
        }

        &:hover {
            background-color: #2667FF;
            border: none;
            box-shadow: none;
            cursor: pointer;
            animation: openerPulse 1s ease infinite;

            svg {
                fill: #fff;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                background: none;
                border: 3px solid #2667FF;
                border-radius: 100px;
                animation: borderPulse 1s ease infinite;
            }
        }
    }
}