.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_mobile {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        &:last-child {
            margin-bottom: 12px;
        }
    }

    &__socials {
        display: flex;
        margin: 0 auto;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-right: 15px;
            border-radius: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__dropdown {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background: #fff;
        padding: 53px 40px 70px;
        
        &_mobile {
            display: none;
        }

        &-title {
            margin-bottom: 20px !important;
        }

        &-categories {
            padding-right: 45px;
            border-right: 1px solid rgba(0, 0, 0, 0.50);;
        }

        &-category {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            border-radius: 15px;
            background: #F6F6F6;
            padding: 11px 19px;
            margin-bottom: 13px;
            width: 279px;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover, &_active {
                cursor: pointer;
                background: #D7D7D7;
            }

            &_active {
                background: #D7D7D7;
            }
        }

        &-icon {
            max-width: 27px;
            height: 27px;
        }

        &-products {
            padding-left: 45px;
        }

        &-list {
            display: grid;
            width: max-content;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 16px;
            grid-column-gap: 94px;
            margin: 19px 0 24px;
        }
    }

    &__discount {
        display: flex;
        padding: 30px;
        background-color: #EEE;
        border-radius: 25px;
        margin-top: 25px;

        &-title {
            margin-bottom: 6px !important;
        }

        &-input {
            background: #fff !important;
        }

        &-icon {
            max-width: 77px;
            margin-left: 94px;
        }
    }

    .search {
        position: relative;
        margin-right: -100px;

        &__results {
            position: absolute;
            top: 0;
            left: -21px;
            right: 23px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            background-color: #fff;
            padding: 60px 25px 25px;
            border-radius: 20px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
            z-index: 11;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 18px;
            }

            &-loader {
                display: block;
                margin: 0 auto;
            }

            &-item {
                display: flex;
                padding: 16px 20px;
                border-radius: 15px;
                background: #EFEFEF;
            }

            &-img {
                width: 55px;
                border-radius: 10px;
            }

            &-info {
                margin-left: 22px;
                color: #000;
                font-family: Onest;
                font-size: 12px;
                font-weight: 400;
            }

            &-title {
                color: #000;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 8px;
            }

            &-icon {
                display: block;
                margin-left: auto;
            }
        }
    }

    &__search {
        width: 530px;

        &-input {
            width: calc(90% - 90px);
            z-index: 12;
        }

        &-icon {
            display: block;
            margin-right: -42px;
            max-width: 24px;
            max-height: 24px;
            z-index: 13;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 18px;

        &-request {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #2667FF;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &:hover {
            cursor: pointer;
        }

        #header-cart {
            position: relative;
            display: block;

            &-quantity {
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                align-items: center;
                transform: translate(25%, -50%);
                justify-content: center;
                color: #fff;
                border-radius: 100%;
                width: 16px;
                height: 16px;
                font-size: 10px;
                font-family: Roboto;
                font-weight: 400;
                background-color: rgba(186, 26, 26, 1);
            }
        }
    }

    &__auth {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        padding: 0 10px !important;
        height: 40px;
        background: #E8F4FF;

        &-icon {
            width: 24px;

            
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        background: #E8F4FF;
        padding: 3px 10px;
        border-radius: 50px;

        &:hover {
            cursor: pointer;
        }

        &-name {
            max-width: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            margin: 0 10px;
        }

        &-price {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            border-radius: 22px;
            padding: 5px 15px;
        }

        &-img {
            max-width: 34px;
            max-height: 34px;
            border-radius: 100px;
        }
    }

    &__menu {
        &-list {
            display: flex;
        }

        &-item {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.footer {
    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 64px 0;
        font-family: Roboto;
        border-top: 2px solid rgba(0, 0, 0, 0.30);;
    }

    &__right {
        display: flex;
    }

    &__menu {
        margin-right: 20px;
    
        &-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__discount {
        width: 218px;
        transform: translateY(-11px);

        
    }
}

@media screen and (max-width: 1727px) {
    .header {
        &__container {
            padding: 14px 0;
        }
    }

    .checkbox {
        & + label::before {
            width: 30px !important;
            height: 30px !important;
        }
    }
}


@media screen and (max-width: 1280px) {
    .header {
        &__search {
            position: relative;
            display: block;

            &-input {
                width: 100%;
                box-sizing: border-box;
                height: 40px;
            }

            &-icon {
                left: 22px;
                top: 10px;
                position: absolute;
            }
        }

        .search {
            margin-right: 0;
            &__results {
                right: 0;
                left: 0;
            }
        }

        &__profile {
            &-price {
                min-width: 78px;
            }
        }

        &__menu {
            &-item {
                margin-right: 21px;
            }
        }

        &__dropdown {
            padding: 35px 30px;

            &-title {
                font-size: 18px;
            }

            &-products {
                padding-left: 35px;
            }

            &-categories {
                padding-right: 35px;
            }

            &-category {
                width: 276px;
            }
        }

        &__discount {
            padding: 0;
            background-color: #fff;

            &-input {
                font-size: 16px !important;
                width: 180px !important;
            }

            &-icon {
                display: none;
            }

            .discount-value {
                font-size: 16px;
                padding: 8px 14px !important;
            }
        }
    }

    .footer {
        &__container {
            gap: 23px;
        }

        &__right {
            gap: 15px;
        }

        &__menu {
            margin-right: 0;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            &-link {
                font-size: 14px;
            }
        }

        &__discount {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 756px) {
    .header {
        display: none;

        &_mobile {
            display: flex;
            flex-direction: column;
        }

        .search {
            &__results {
                &-img {
                    max-width: 50px;
                }

                &-item {
                    padding: 14px;
                }

                &-icon {
                    width: 12px;
                }
            }
        }

        &__dropdown {
            width: 300px;
            min-height: 450px;
            overflow: hidden;
            padding: 27px 20px;

            &_mobile {
                display: flex;
            }

            &-title {
                display: flex;
                align-items: center;
                gap: 8px;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                margin: 0 0 27px;
            }

            &-categories {
                padding-right: 0;
                border: none;
            }

            &-products {
                padding: 0;
            }

            &-category {
                width: 100%;
            }
        }
    }

    .container {
        width: 84vw !important;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        position: relative;
        padding-bottom: 150px;

        &__container {
            flex-direction: column;
        }

        &__discount {
            position: absolute;
            top: 300px;
        }
    }
}