.admin__list {
    &-item {
        display: flex;
        align-items: center;
        padding: 15px 25px;
        border-radius: 15px;
        background-color: rgba(237, 234, 234, 1);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

        &-wrapper {
            padding-bottom: 24px;
        }
    }

    &-img {
        width: 40px;
    }

    &-info {
        width: 220px;
        margin-left: 30px;

        &-title {
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 6px 0;
        }

        &-bottom {
            display: flex;
            gap: 32px;
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 20px;
        }
    }

    &-drag {
        &:hover {
            cursor: grab;
        }
    }

    &-amount {
        display: flex;
        align-items: center;
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        height: 24px;
        min-width: 96px;
        
        &-key {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 20px;
            background-color: #2667FF;
            border-radius: 0 20px 20px 0;
        }

        &-value {
            display: flex;
            align-items: center;
            height: 100%;
            background: #fff;
            color: #000;
            padding: 0 20px;
            border-radius: 20px 0 0 20px;
        }
    }

    &-drag {
        display: block;
        margin: 0 auto;
    }

    &-helpers {
        display: flex;
        gap: 15px;
    }

    &-helper {
        border: none;
        border-radius: 5px;
        background: #D9D9D9;
        padding: 10px;

        &-icon {
            width: 24px;
        }

        &:hover {
            cursor: pointer;
            background-color: #c2c0c0;
        }
    }

    &-category {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        white-space: nowrap;
        height: 24px;
        padding: 0px 20px;
        border-radius: 20px;
        background: #2667FF;
        box-shadow: 0px 4px 15px -9px #2667FF;
    }
}

@media screen and (max-width: 480px) {
    .admin__list {
        &-img {
            display: none;
        }

        &-info {
            margin-left: 0;

            &-title {
                img {
                    display: none;
                }
            }

            &-bottom {
                display: none;
            }
        }
    }
}