
.promo {
    display: grid;
    grid-template-columns: 60% 40%;

    &__left {
        max-width: 730px;
    }

    &__discount {
        margin-top: 87px;
    }

    &__catalog {
        margin-top: 53px;

        &-subtitle {
            margin-bottom: 24px !important;
        }

        &-items {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 24px;
        }

        &-loader {
            position: absolute;
            left: 45%;
            top: 130px;
            width: 100px;
            height: 100px;
        }

        &-item {
            display: flex;
            align-items: center;
            padding: 21px 14px 19px 24px;
        }

        &-title {
            color: #000;
            font-family: Onest !important;
            font-size: 15px;
            margin-bottom: 2px !important;
            font-weight: 500 !important;
        }

        &-img {
            max-width: 55px;
        }

        &-info {
            margin: 0 22px 0 16px;
        }

        &-products {
            display: flex;
            flex-wrap: wrap;
        }

        &-product {
            font-family: Onest;
            font-weight: 400;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.50) !important;
            margin-right: 10px;

            &:hover {
                text-decoration: underline;
            }
        }

        &-icon {
            display: block;
            margin-left: auto;
        }
    }

    &__right {
        &-banner {
            background-image: url('../../assets/images/img/update_banner_bg.jpg');
            padding: 50px 40px 0;
        }
    }

    &__advantages {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
        padding: 46px 46px 26px;
        background: linear-gradient(151deg, #2667FF 1.03%, #678EEA 33.5%, rgba(35, 90, 218, 0.42) 62.89%, #2767FE 100%);
    
        &-title {
            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
            text-align: center;
        }

        &-subtitle {
            color: #fff !important;
            text-align: center;
            font-size: 24px !important;
            font-family: Roboto;
            font-weight: 400;
            margin-top: 10px !important;
            margin-bottom: 36px !important;
        }

        &-carousel {
            min-height: 502px;
        }
    }
}

.sale {
    &__btn {
        font-family: Onest;
        font-weight: 700;
        font-size: 20px;
        margin-top: 32px;
        padding: 11px 19px;
    }

    &__value {
        position: relative;
        left: 25%;
        top: -30px;
        transform: rotate(-15deg);
        width: max-content;
        font-size: 16px;
        background: #154AC5 !important;
        margin: 0 !important;
        padding: 11px 12px;
    }
}

.carousel {
    &__track {
        display: flex;
        transition: .7s;
    }

    &__slide {
        margin-right: 20px;
    }

    &__dot {
        margin-right: 13px;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background: none;
        border: 1px solid #fff;

        &:last-child {
            margin-right: 0;
        }

        &_active {
            background: #fff;
        }
    }
}

.top {
    overflow: auto;

    &__header {
        width: 340px;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
    }

    // &__title {
    //     margin-top: 20px !important;
    // }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 30px;
        padding-bottom: 24px;
    }
}

@keyframes scrollAnim {
	0% { transform: translateX(0); }
	100% { transform: translateX(-50%)}
}

.partners {
    &__carousel {
        display: flex;
        margin-top: 43px;
        background: #F2F2F2;
        padding: 85px 0;
        overflow: hidden;

        &-track {
            display: flex;
            animation: scrollAnim calc(615*6*40s/3500) infinite linear;
            width: calc(515px * 26);
        }

        &-slide {
            width: 365px;
            padding-right: 150px;
        }
    }
}

.reviews {
    &__header {
        margin-bottom: 30px;
        
        &-title {
            color: rgba(0, 0, 0, 0.80);
            font-family: Onest !important;
            font-size: 20px;
            font-style: normal;
            font-weight: 400 !important;
        }
    }

    &__rate {
        display: flex;
        font-family: Roboto;
        font-weight: 700;
        color: #2767FF;
        font-size: 48px;

        &-stars {
            margin-left: 13px;
        }
    }

    &__items {
        display: flex;
        box-shadow: inset -102px 0px 121px 0px rgba(250,250,250,1);
        padding: 36px 10px 55px 10px;
        transform: scale(1, -1);


        &-header {
            display: flex;
            justify-content: space-between;
            color: rgba(0, 0, 0, 0.50);
            font-family: Onest;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;

        &-buttons {
            margin-left: auto;
        }

        &-button {
            padding: 21px;
            border-radius: 100% !important;
            width: 80px;
            height: 80px;

            &:first-child {
                margin-right: 11px;
                transform: scale(-1, 1);
            }
        }
    }

    &__btn {
        img {
            transition: .3s;
        }
        &:hover {
            img {
                transform: translateX(10%);
            }
        }
    }
}

.promo2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 40px;
    margin-bottom: 116px !important;

    &__img {
        max-width: 630px;
    }

    &__text {
        margin-top: 16px;
    }

    &__title {
        margin: 21px 0 16px !important;
    }

    &__btn {
        margin-top: 25px;

        img {
            transition: .3s;
        }
        &:hover {
            img {
                transform: translateX(10%);
            }
        }
    }

    &__coop {
        margin-top: -25px;
    }
}

@media screen and (max-width: 1727px) {
    .promo {
        grid-template-columns: 65% 35%;

        &__advantages {
            padding: 40px 40px 20px;

            &-title {
                font-size: 30px;
            }

            &-subtitle {
                margin-bottom: 22px !important;
                font-size: 20px !important;
            }

            &-carousel {
                min-height: 420px;
            }
        }

        &__catalog {
            &-item {
                padding: 16px 14px 14px 24px;
            }
        }
    }

    .sale {
        &__value {
            left: 30%;
            top: -25px;
        }
    }

    .carousel {
        &__slide {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .partners {
        &__carousel {
            padding: 60px 0;

            &-slide {
                width: 265px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .promo {
        display: flex;
        flex-direction: column;

        &__right {
            margin-top: 24px;
            gap: 40px;
            display: flex;

            &-banner {
                box-sizing: border-box;
                max-height: 177px;
                padding: 28px 132px 0 23px;
                background: url(../../assets/images/img/update_banner_bg_mobile.png) no-repeat;
                background-position: 100% 100%;
            }

            &-subtitle {
                width: 90%;
            }
        }

        &__advantages {
            align-items: start;
            background: #2667FF;
            padding: 0;
            margin-top: 0;

            &-title {
                margin-top: 34px !important;
                font-size: 20px;
                padding: 0 26px !important;

            }

            &-subtitle {
                margin: 5px 0 16px !important;
                padding: 0 26px;
            }
        }

        &__discount {
            margin-top: 50px;
            height: 42px;
        }

        &__catalog {
            margin-top: -30px;
            &-title {
                font-size: 14px;
            }
        }
    }

    .top {
        margin-top: 48px;
        
        &__header {
            transform: none;
        }
    }

    .sale {
        &__btn {
            margin-top: 20px;
            font-size: 14px;
        }

        &__value {
            padding: 11px 12px !important;
            font-size: 14px !important;
            border-radius: 100px !important;
            left: 50%;
        }
    }

    .promo2 {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__title {
            max-width: 65%;
            margin: 0 !important;
        }

        &__delivery {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__img {
            width: 100%;
            max-width: none;
        }

        &__bottom {
            display: flex;
            gap: 44px;
        }

        &__btn {
            margin-top: 15px;
        }

        &__text {
            font-size: 20px !important;
        }

        &__coop {
            display: flex;
            flex-direction: column;
            gap: 9px;

            &-title {
                margin-top: 42px !important;
            }

            &-text {
                max-width: 290px;
            }
        }
    }
}

@media screen and (max-width: 756px) {
    .promo {
        &__catalog {
            &-items {
                display: flex;
                flex-wrap: wrap;
            }

            &-item {
                width: 100%;
                box-sizing: border-box;
            }
        }

        &__right {
            justify-content: space-between;
            gap: 20px;

            &-banner {
                padding: 28px 80px 0 23px;
                background-size: 100%;
                max-height: 220px;
            }
        }

        &__advantages {
            width: 50%;

            &-title {
                padding: 0 14px !important;
                font-size: 18px;
            }

            &-subtitle {
                padding: 0 14px;
            }

            &-img {
                width: 100%;
            }
        }

        &__catalog {
            margin-top: 42px;
        }
    }

    .top {
        &__header {
            transform: none;
            margin-top: 42px;
        }
    }

    .promo2 {
        &__title {
            margin: 0 !important;
            max-width: 100%;
            font-size: 20px !important;
        }

        &__delivery {
            gap: 12px;
        }

        &__bottom {
            flex-direction: column;
        }

        &__btn {
            display: none !important;
        }

        &__text {
            font-size: 14px !important;
        }

        &__coop {
            &-text {
                max-width: 100%;
            }
        }
    }
    
    .sale {
        &__value {
            left: 80px;
        }
    }
}

@media screen and (max-width: 576px) {
    .promo {
        &__right {
            flex-direction: column;
        }

        &__advantages {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .reviews {
        &__bottom {
            &-button {
                display: none !important;
            }
        }
    }
}