.product {
    width: min-content;
    max-height: 390px;
    max-width: 290px;
    width: 100%;
    flex-shrink: 0;

    &__img {
        border-radius: 25px;
        height: 233px;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 33%;
        padding: 13px;
    }

    &__title {
        font-size: 20px;
        font-weight: 500 !important;
        margin-bottom: 9px !important;
    }

    &__descr {
        height: 60px;
        margin: 9px 0 39px;
        overflow: hidden;
    }

    &__bottom {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-top: 6px;
    }

    &__price {
        font-family: Onest;
        font-weight: 400;
        line-height: 1;

        &-old {
            color: rgba(0, 0, 0, 0.50);
            font-size: 13px;
            text-decoration: line-through;
        }

        &-new {
            color: #2767FE;
            font-size: 20px;
            text-decoration: none;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 131px;
        height: 40px;
        font-family: Onest;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 15px;
        transition: .3s;

        &:hover {
            background-color: #ccc !important;
        }

        &-icon {
            margin-left: 9px;
        }

        &-loader {
            width: 20px;
            height: 20px;
            margin: 0 auto;
        }
    }

    &__discount-value {
        width: 49px !important;
        height: 40px;
        box-sizing: border-box;
        font-weight: 400 !important;
        margin: 0 !important;
        padding: 8px !important;
        font-size: 14px !important;
        border-radius: 10px !important;

    }
}

@media screen and (max-width: 1727px) {
    .product {
        &__price {
            &-old {
                font-size: 11px;
            }

            &-new {
                font-size: 18px;
            }
        }

        &__btn {
            padding: 0 12px;
            font-size: 12px;
            width: 115px;
        }
    }
}

@media screen and (max-width: 756px) {
    .product {
        width: 260px;
    }
}

@media screen and (max-width: 480px) {
    .product {
        width: 230px;
        max-height: 340px;

        &__content {
            padding: 8px;
        }

        &__title {
            font-size: 16px;
            margin-bottom: 4px !important;
        }

        &__descr {
            height: 80px;
            font-size: 12px;
        }
        
        &__img {
            height: 200px;
        }

        &__btn {
            font-size: 10px;
            width: 100px;

            &-icon {
                width: 18px;
            }
        }

        &__price {
            &-new {
                font-size: 14px;
            }

            &-old {
                font-size: 10px;
            }
        }

        &__discount-value {
            height: 35px;
            width: 40px !important;
            padding: 5px !important;
            font-size: 12px !important;
        }

    }
}