.admin {
    display: flex;

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: #EAEAEA;
        border: none;
        transition: .3s;

        &:hover {
            cursor: pointer;
            background-color: #c2c0c0;
        }
    }

    &__container {
        margin-left: 300px;
        max-width: 1170px;
        width: 100%;
        box-sizing: content-box;
        padding: 45px 87px 40px 40px;
        overflow: hidden;
    }

    &__block {
        padding: 20px 25px;
        border-radius: 15px;
        background: #F9F9F9;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

        &_shadowless {
            box-shadow: none;
        }

        &-title {
            margin: 0;
            color: #595959;
            font-family: "ALS Hauss";
            font-size: 20px;
            font-weight: 400;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 31px;
        padding: 0 20px;

        &-icon {
            &_rotated {
                transform: rotate(180deg);
            }
        }
    }

    &__input {
        position: relative;

        &-name {
            position: absolute;
            left: 10px;
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            background: #F9F9F9;
            transform: translateY(-50%);
            padding: 0 10px;
        }

        &-text {
            height: 56px;
            width: 260px;
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            padding: 9px 25px;
            border: 1px solid #CCC;
            border-radius: 4px;
            background: none;

            &:focus {
                outline: none;
            }
        }
    }

    &__dropdown {
        position: relative;
        z-index: 2;

        &-list {
            position: absolute;
            left: 15px;
            top: 31px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: none;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: start;
            height: 45px;
            box-sizing: border-box;
            font-family: Onest;
            font-size: 14px;
            padding: 0 10px;
            transition: .4s;

            &:hover {
                cursor: pointer;
                background-color: #ccc;
            }

            &:last-child {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }

    &__sidebar {
        position: fixed;
        padding: 45px 49px;
        background-color: #F6F6F6;
        width: 305px;
        height: 100vh;
        box-sizing: border-box;

        &-heading {
            display: flex;
            flex-direction: column;
            color: #000;
            font-family: Onest;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 24px;
        }

        &-subtitle {
            color: #BCBCBC;
            font-family: Onest;
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 12px;
        }

        &-closer {
            transform: rotate(45deg);
            width: 60px;
            height: 60px;

            &-wrapper {
                width: 90px;
                height: 90px;
                justify-content: center;
                align-items: center;
                background: #F6F6F6;
                position: absolute;
                top: 0;
                left: 305px;

                &:hover {
                    cursor: pointer;
                }
            }

            &:before, &:after {
                content: '';
                position: absolute;
                background-color: black;
            }
        
            &:before {
                width: 4px;
                height: 100%;
                left: 49%;
                top: 0;
            }
        
            &:after {
                width: 100%;
                height: 4px;
                left: 0;
                top: 49%;
            
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 42px !important;
       
        &:last-child {
            margin: 0 !important;
        }

        &-link {
            color: #000;
            font-family: Onest;
            font-size: 20px;
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }

            &_active {
                color: #2667FF;
            }
        }
    }

    &__logout {
        position: absolute;
        bottom: 41px;
        display: flex;
        align-items: center;
        gap: 9px;
        color: #EA6161;
        margin-top: auto;
        font-family: Onest;
        font-size: 20px;
        font-weight: 500;
    }

    .tickets {
        &__title {
            display: flex;
            gap: 19px;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 400;
            margin: 0;
            margin-top: 41px;
        }

        &__helper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            border-radius: 10px;
            background: #D9D9D9;

            img {
                width: 24px;
                height: 24px;
            }
        }

        &__items {
            display: flex;
            flex-direction: column;
            margin-top: 22px;
            gap: 16px;
        }
    }
}

@media screen and (max-width: 1727px) {
    .admin {
        &__menu {
            margin-bottom: 24px !important;
        }
    }
}

@media screen and (max-width: 1280px) {
    .admin {
        &__sidebar {
            transform: translateX(-130%);
            transition: .4s;
            z-index: 10;

            &_opened {
                transform: translateX(0);
            }
        }

        &__container {
            padding: 30px 52px 46px;
            margin-left: 0;
        }
    }
}

@media screen and (max-height: 800px) {
    .admin {
        &__menu {
            &-link {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .admin {
        .hamburger {
            width: 35px;
            height: 35px;

            img {
                width: 17px;
            }
        }

        &__container {
            padding: 30px 20px 46px;
        }

        .header {
            &__buttons {
                padding-top: 0 !important;
            }
        }
    }
}