.cart {
    &__container {
        display: grid;
        grid-template-columns: 6fr 3fr;
        grid-column-gap: 36px;
        margin: 0 auto 60px;
    }

    &__title {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto 39px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 33px;
        margin-bottom: 32px;
    }

    &__item {
        &-footer {
            display: flex;
            margin-top: 6px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 6px;
        }

        &-body {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 9px;
            margin-left: 25px;
        }

        &-img {
            display: flex;
            flex-direction: column;
            max-width: 150px;

            img {
                width: 120px;
            }
        }

        &-name {
            color: #000;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 400;
            max-width: 395px;
            margin-top: 12px;
        }

        &-id {
            color: #848484;
            font-family: Onest;
            font-size: 20px;
            font-weight: 400;
        }

        &-delivery {
            color: #ACACAC;
            font-family: Onest;
            font-size: 14px;
            font-weight: 400;
        }

        &-bottom {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            gap: 14px;
            width: max-content;
        }

        &-icon {
            margin-left: auto;

            &:hover {
                cursor: pointer;
            }
        }

        &-price {
            color: #2767FE;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;

            &_old {
                color: #828282;
                font-family: Onest;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                text-decoration: line-through;
            }
        }
    }

    &__promo {
        position: relative;

        &-btn {
            position: absolute;
            top: 100%;
            left: 100%;
            width: 41px;
            height: 41px;
            border-radius: 15px;
            transform: translate(-100%, -100%);
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        line-height: 40px;
        padding: 0 25px;
        border-radius: 20px !important; 
    }

    &__order {
        height: max-content;
        padding: 35px 45px 53px;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 29px;

            &_vertical {
                flex-direction: column;
                align-items: self-start;
            }
        }

        &-title {
            color: #000;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 400 !important;
            margin-bottom: 29px;
        }

        &-subtitle {
            color: rgba(0, 0, 0, 0.70);
            font-family: Roboto;
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 0;
            font-weight: 400;
            z-index: 1;
        }

        &-img {
            display: block;
            width: 64%;
            margin: -30px auto 0;
        }
    }

    &__cleaner {
        display: flex;
        align-items: center;
        color: #8D8D8D !important;
        font-family: Onest;
        font-size: 16px;
        font-weight: 400;

        &-icon {
            margin-left: 16px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
    }

    &__switch {
        display: flex;
        align-items: center;

        &-btn {
            display: flex;
            align-items: center;
            padding: 0px 8px;
            height: 30px;
            background-color: rgb(212, 212, 212);
            border: none;

            border-top-right-radius: 100%;
            border-bottom-right-radius: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:disabled {
                opacity: 0.7;
            }

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 100%;
                border-bottom-left-radius: 100%;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &-counter {
            color: #3F3F3F;
            font-family: Onest;
            font-size: 16px;
            font-weight: 400;
            padding: 5px 12px;
            background: #F0F0F0;
        }
    }

    &__sidebar {
        padding: 36px;
        box-sizing: border-box;
        height: max-content;

        &-footer {
            display: flex;
            flex-direction: column;
            gap: 7px;
            margin-top: auto;
            bottom: 36px;
        }

        &-price {
            color: #000;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
        }

        &-discount {
            color: #515151;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
        }

        &-btn {
            margin-top: 11px;
            width: max-content;
        }
    }

    &__widget {
        &-label {
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: #000;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }

        &-input {
            line-height: 40px;
            border-radius: 15px;
            border: 1px solid #5F5F5F;
            padding: 0 15px;
            color: #5F5F5F;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;

            &:focus {
                outline: none;
                border-color:#2667FF; 
            }

            &_red {
                border-color: #FF2626;
                color: #FF2626;

                &:focus {
                    border-color: #FF2626;
                }

                &::placeholder {
                    color: #FF2626;
                }
            }

            &_succesfull {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #47CC7C;
                color: #fff;
                border: none;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 20px 0 24px;
        margin: 25px 0 20px;
        border-top: 1px solid #5F5F5F;
        border-bottom: 1px solid #5F5F5F;
    }

    &__payments {
        margin-top: 33px;
        margin-bottom: 31px;

        &-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 12px;
        }
    }

    &__payment {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #EFEFEF;
        padding: 7px 22px;
        border-radius: 100px;
        font-family: Inter;
        font-weight: 500;
        font-size: 12px;
        font-weight: 500;
        border: 1px solid #fff;
        transition: .3s;

        &:hover {
            box-shadow: 0 0 10px 1px #ccc;
            cursor: pointer;
        }

        &_active {
            border: 1px solid #2667FF;
            background: #FFF;
        }
    }
}

@media screen and (max-width: 1280px) {
    .cart {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 38px;
        }

        &__order {
            &-header {
                margin-bottom: 25px;
            }
        }

        &__items {
            height: 415px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 9px;
            }
        }

        &__sidebar {
            position: initial;
            display: flex;
            justify-content: space-between;
            height: auto;

            &-footer {
                position: initial;
                margin-top: 0;
            }

            &-right {
                width: 52%;
            }

            &-btn {
                margin-top: auto;
            }
        }

        &__info {
            flex-direction: row;
            flex-wrap: wrap;
            border-top: none;
            border-bottom: none;
            padding: 0;
            margin-top: 39px;
            gap: 40px;
            grid-row-gap: 13px;
        }

        &__widget {
            margin-top: 23px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 756px) {
    .cart {
        &__title {
            margin-bottom: 0;
        }

        &__sidebar {
            flex-direction: column-reverse;
            height: auto;
            gap: 24px;

            &-btn {
                margin-top: 14px;
            }

            &-right {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .cart {
        &__order {
            &-title {
                font-size: 18px;
            }
        }

        &__cleaner {
            font-size: 12px;

            &-icon {
                margin-left: 9px;
            }
        }

        &__item {
            &-bottom {
                position: initial;
                display: flex;
                align-items: start;
                flex-direction: column-reverse;
                gap: 5px;
            }

            &-img {
                width: 120px;
            }

            &-delivery {
                white-space: nowrap;
            }

            &-trash {
                width: 30px;
            }

            &-price {
                &_old {
                    margin-top: 12px;
                }
            }
        }

        &__switch {
            margin-top: 8px;
        }
    }
}

@media screen and (max-width: 480px) {
    .cart {
        &__item {
            &-img {
                width: 60px;
            }

            &-body {
                margin-left: 15px;
            }

            &-trash {
                width: 20px;
            }
        }
    }
}