.editor {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    z-index: 100;
    top: 70px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__closer {
        &:hover {
            cursor: pointer;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__avatar {
        display: flex;
        gap: 20px;

        &-img {
            width: 96px;
            height: 96px;
            border-radius: 100%;
        }

        &-file {
            position: relative;
            padding: 0 25px !important;
            min-width: 224px;

            &::after {
                content: 'Изображения, макс. 1 вложений.';
                position: absolute;
                left: 0;
                bottom: -10px;
                transform: translateY(100%);
                display: block;
                color: #000;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }

    &__login {
        &-label {
            &::before {
                content: 'Новый логин';
                display: block;
                transform: translate(15px, 50%);
                font-family: Roboto;
                font-size: 10px;
                font-weight: 400;
                background-color: #fff;
                padding: 0 10px;
                width: max-content;
            }
        }

        &-input {
            width: 100%;
            height: 56px;
            box-sizing: border-box;
            padding: 9px 25px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            border-radius: 4px;
            border: 1px solid #ccc;

            &:focus {
                outline: none;
            }
        }
    }

    &__saver {
        display: block;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        color: #2667FF !important;
        margin-left: auto;
        border: none;
        background: none;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}