.replenish {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    box-sizing: border-box;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px;
    }

    &__input {
        width: 100%;

        &-value {
            width: 100%;
            box-sizing: border-box;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
        padding: 0 25px;
        margin-top: 20px;
        border-radius: 25px !important;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
    }
}