.reviews {
    &__container {
        margin: 0 auto;
    }

    &__rating {
        padding: 30px 40px;

        &-title {
            font-size: 24px;
            margin-bottom: 20px !important;
        }

        &-body {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &-rate {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            line-height: 40px;
            border-radius: 20px !important;
            padding: 0 20px;
        }
    }

    &__amount {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__wrapper {
        position: relative;
        padding: 30px 40px 95px;
        margin: 30px 0 84px;

        &-shadow {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 180px;
            background: linear-gradient(180deg, rgba(254, 254, 254, 0.00) 0%, #FEFEFE 72.26%);
        }

        &-title {
            color: rgba(0, 0, 0, 0.50);
            font-family: Onest;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
        }

        &-items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 20px;
        }

        &-review {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1280px) {
    .reviews {
        &__wrapper {
            &-items {
                display: flex;
                flex-direction: column;
                max-height: 1120px;
                overflow: hidden;
                box-shadow: linear-gradient(180deg, rgba(254, 254, 254, 0) -21%, #FEFEFE 53.26%);
            }
        }
    }
}

@media screen and (max-width: 756px) {
    
}