.admin {
    .header {
        position: initial;
        transform: none;
        display: flex;
        flex-direction: row;
        gap: 19px;
        justify-content: start;
        align-items: center;

        &__title {
            color: #000;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 400;
        }

        &__buttons {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 19px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .admin {
        .header {
            align-items: start;

            &__buttons {
                padding-top: 13px;
            }
        }
    }
}