.admin {
    .promocodes {
        margin-top: 54px;

        &__header {
            display: flex;
            justify-content: space-between;
        }

        &__search {
            position: relative;

            &-icon {
                position: absolute;
                left: 18px;
                top: 8px;
                width: 24px;
            }

            &-input {
                border-radius: 25px;
                background: #E8F4FF;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                padding: 0 30px 0 60px;
                height: 40px;
                box-sizing: border-box;
                border: none;

                &::placeholder {
                    color: #000;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &__items {
            display: flex;
            gap: 10px;
            flex-direction: column;
            margin-top: 40px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;

            &-header {
                display: flex;
                padding: 0 82px 0 40px;
            }
        }

        &__item {
           display: flex;
           align-items: center;
           height: 70px;
           box-sizing: border-box;
           padding: 0 40px;
           border-radius: 100px;
           background: #EDEDED;
           
            &-helpers {
                display: flex;
                justify-content: space-between;
                gap: 16px;
                margin-left: auto;
            }

            &-helper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                border-radius: 5px;
                background: #D9D9D9;

                img {
                    width: 24px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #c2c0c0;
                }
            }
        }

        &__text {
            display: block;
            width: 100%;

            &_bold {
                font-weight: 700;
            }

            &:first-child {
                width: 50%;
            }

            &:nth-child(2) {
                width: 50%;
            }

            &:last-child {
                width: max-content;
                margin-left: auto;
            }
        }

        &__emptyness {
            display: block;
            margin: 20px auto;
            width: max-content;
            font-family: Onest;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 480px) {
    .admin {
        .promocodes {
            &__items {
                &-header {
                    display: none;
                }
            }

            &__item {
                flex-direction: column;
                gap: 10px;
                text-align: center;
                height: auto;
                padding: 10px 40px;
                border-radius: 15px;

                &-helpers {
                    margin-left: 0;
                }
            }
        }
    }
}