.not-found-image {
    width: 100vw;
    height: calc(100vh - 135px);
}

.not-found-link {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 200px;
    color: #2767FE;
    font-family: Onest;
    font-size: 20px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        text-decoration: underline;
    }
}

.not-found-title {
    
}

@media screen and (max-width: 1280px) {
    .not-found-image {
        height: 100%;
    }

    .not-found-link {
        font-size: 16px;

        svg {
            width: 25px;
        }
    }
}