.snackbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 10px;
    top: 10px;
    z-index: 5;

    &__snack {
        height: 48px;
        width: 370px;
        padding: 0 16px;
    }
}