.admin {
    .users {
        margin-top: 51px;

        &__header {
            display: flex;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 16px;

            &-item {
                padding: 15px 25px;
            }
        }

        .user {
            display: flex;
            align-items: center;
            border-radius: 15px;
            background: #EDEAEA;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

            &__avatar {
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }

            &__info {
                margin-left: 20px;

                &-bottom {
                    display: flex;
                    gap: 14px;
                }
            }

            &__name {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                margin: 0 0 6px;
            }

            &__char {
                display: flex;
                align-items: center;
                height: 24px;
                padding: 0 20px;
                border-radius: 20px;
                background: #CBCBCB;
                color: #242424;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;

                &_active {
                    color: #fff;
                    background-color: #2667FF;
                }
            }

            &__helpers {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-left: auto;
            }

            &__helper {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;
                width: 45px;
                border-radius: 5px;
                background-color: #D9D9D9;
                border: none;
                color: #000;
                font-size: 24px;
                font-family: Roboto;

                &:hover {
                    cursor: pointer;
                    background: #c2c0c0;
                }

                &_blue {
                    color: #fff;
                    background: #2667FF;

                    &:hover {
                        background-color: #2552bc;
                    }
                }

                &-icon {
                    width: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .admin {
        .users {
            .user {
                &__char {
                    font-size: 14px;
                    padding: 0 14px;
                }

                &__helper {
                    font-size: 16px;
                    &-icon {
                        width: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .admin {
        .users {
            .user {
                gap: 16px;
                flex-direction: column;

                &__name {
                    text-align: center;
                    margin-bottom: 16px;
                }

                &__info {
                    margin-left: 0;
                }

                &__helpers {
                    margin-left: 0;
                }

                &__char {
                    background: none;
                    
                    &_active {
                        background: #2667FF;
                    }
                }
            }
        }
    }
}